/* line 12, ../../compass/style.scss */
.clear {
  clear: both;
}

/* line 17, ../../compass/style.scss */
html, body {
  background-color: #d6dbde;
}

/* line 22, ../../compass/style.scss */
header {
  background: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  /*#btPannel{
      border-radius: 0;
      border: none;
      background: transparent;
      .ui-btn-inner{
          border: none;
      }
  }*/
  height: 60px;
}
/* line 27, ../../compass/style.scss */
header.ui-bar-a {
  background: white;
  color: black;
  text-shadow: none;
}
/* line 32, ../../compass/style.scss */
header .notif {
  float: right;
  border: solid 1px;
  background-color: #df5a49;
  color: white;
  padding: 5px 20px;
  margin: 0 20px;
}
/* line 40, ../../compass/style.scss */
header .logo {
  width: 312px;
  height: 57px;
  margin: 0 auto;
  background: url("../img/logo_header.jpg") no-repeat;
}
/* line 55, ../../compass/style.scss */
header a {
  float: left;
}

/* line 60, ../../compass/style.scss */
footer {
  width: 100%;
  background: white;
  position: fixed;
  bottom: 0;
  text-shadow: none;
  border: none;
}
/* line 67, ../../compass/style.scss */
footer.ui-bar-a {
  padding: 10px 0;
  background: white;
}
/* line 73, ../../compass/style.scss */
footer #copy {
  width: 100%;
  text-align: center;
  color: black;
  text-shadow: none;
}
/* line 79, ../../compass/style.scss */
footer .etats {
  padding: 10px 0;
  color: white;
  font-size: 0.7em;
  width: 275px;
  margin: 0 auto;
  text-shadow: none;
}
/* line 86, ../../compass/style.scss */
footer .etats .points {
  padding: 10px 20px;
  background-color: #334d5c;
  float: left;
  width: 85px;
  text-align: center;
}
/* line 93, ../../compass/style.scss */
footer .etats .divider {
  border-left: 1px solid #808080;
  float: left;
  height: 35px;
  margin: 0 10px;
  width: 1px;
}
/* line 100, ../../compass/style.scss */
footer .etats .pariDispo {
  padding: 10px 20px;
  width: 85px;
  background-color: #4bb5a3;
  float: left;
  text-align: center;
}

/* line 110, ../../compass/style.scss */
.leftBorder {
  width: 100px;
  height: 100%;
  float: right;
  backgroun-color: grey;
}

/* line 118, ../../compass/style.scss */
#content {
  background-color: #d6dbde;
  min-height: 400px;
  padding: 90px 20px;
}
