/* line 12, ../../compass/style.scss */
.clear {
  clear: both;
}

/* line 16, ../../compass/style.scss */
header {
  padding: 10px 0 0 10px;
  /*#btPannel{
      border-radius: 0;
      border: none;
      background: transparent;
      .ui-btn-inner{
          border: none;
      }
  }*/
  height: 40px;
}
/* line 18, ../../compass/style.scss */
header.ui-bar-a {
  background: white;
  color: black;
  text-shadow: none;
}
/* line 23, ../../compass/style.scss */
header .notif {
  float: right;
  border: solid 1px;
  background-color: #df5a49;
  color: white;
  padding: 5px 20px;
  margin: 0 10px;
}
/* line 31, ../../compass/style.scss */
header .logo {
  width: 100px;
  margin: 0 auto;
}

/* line 46, ../../compass/style.scss */
footer {
  text-shadow: none;
  border: none;
}
/* line 47, ../../compass/style.scss */
footer.ui-bar-a {
  padding: 10px;
  background: white;
}
/* line 53, ../../compass/style.scss */
footer #copy {
  width: 100%;
  text-align: center;
  color: black;
  text-shadow: none;
}
/* line 59, ../../compass/style.scss */
footer .etats {
  width: 400px;
  margin: 0 auto;
  text-shadow: none;
}
/* line 63, ../../compass/style.scss */
footer .etats .points {
  padding: 10px 20px;
  background-color: #334d5c;
  float: left;
  width: 120px;
  text-align: center;
}
/* line 70, ../../compass/style.scss */
footer .etats .divider {
  border-left: 1px solid #808080;
  float: left;
  height: 35px;
  margin: 0 20px;
  width: 1px;
}
/* line 77, ../../compass/style.scss */
footer .etats .pariDispo {
  padding: 10px 20px;
  width: 120px;
  background-color: #4bb5a3;
  float: left;
  text-align: center;
}

/* line 87, ../../compass/style.scss */
.leftBorder {
  width: 100px;
  height: 100%;
  float: right;
  backgroun-color: grey;
}

/* line 95, ../../compass/style.scss */
#content {
  background-color: #d6dbde;
  min-height: 400px;
}

@media only screen and (min-device-width: 728px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 106, ../../compass/style.scss */
  #site {
    width: 720px;
    margin: 0 auto;
  }
}
