{% extends "layout.twig" %}



{% block content %}
    <div id="index">
        <div id="submenu">
            <div id="pariDefi">
                <a class="defi" href="/defi">Défier</a>
                <a class="pari selected" href="/pari">Parier</a>
                <div class="clear"></div>
            </div>
        </div>
        <div style='height:90px'>
        </div>
        <img src="img/background_defier.jpg" width="624px" height="847px"/>
        <div style='height:50px'>
        </div>
    </div>
{% endblock %}