{% extends "layout.twig" %}

{% block content %}
    <div id="index">
        {% if app.user %}
        <div id="user">
            Bonjour, <span class="name">{{ app.user.getName }}</span>
        </div>
        {% endif %}

        <div class="action parier">
            <a href="/pari">
                <img src="img/btn_home_parier.png" width="617px" height="230px"></img>
            </a>
        </div>
        <div class="action boutique">
            <a href="/boutique">
                <img src="img/btn_home_boutique.png" width="617px" height="230px"></img>
            </a>
        </div>
        <div class="action highscore">
            <a href="/score">
            <img src="img/btn_home_classement.png" width="617px" height="230px"></img>
            </a>
        </div>
         <div style="height:50px">
        </div>
    </div>
{% endblock %}