{% extends "layout.twig" %}



{% block content %}
    <div id="index" class="large">
        <img src="img/fake_notifications.jpg" width="700px" height="936px"/>
        <div style='height:50px'>
        </div>
    </div>
{% endblock %}